<!DOCTYPE html>
<html>

<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>

<body>
    <div ng-app="" ng-init="object={firstname:'ankit',lastname:'kamboj'}">
        <p>{{object.firstname + " " +object.lastname}}</p>
    </div>
</body>

</html>